.navbar {
	width: 100%;
	height: 70px;
	background-color: #3bb19b;
	display: flex;
	align-items: center;
}

.navbar h1 {
	color: white;
	font-size: 25px;
	margin-left: 20px;
}

.white_btn {
	margin-left: auto;
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-right: 20px;
}
.navcontent{
	color: rgb(14, 12, 12);
	font-size: 25px;
	margin-left: 25px;
}
table, td, th {  
	border: 1px solid #ddd;
	text-align: left;
  }
  
  table {
	border-collapse: collapse;
	width: 100%;
  }
  
  th, td {
	padding: 15px;
  }
